dnsName: 'relaxation'
variables: {
    SUPPORTED_MONGO_VERSIONS: '5.0-focal,4.4-focal,4.2-bionic'
}

environments: {
    default: {
        peltonDependencies: []
    },
    test: {
        build: '''
            wait-for-registry
            bash pelton/print-test-image.sh | docker build \
                    -f - \
                    -t $PELTON_DOCKER_REGISTRY/relaxation \
                    . >&2
            docker push $PELTON_DOCKER_REGISTRY/relaxation >&2
            docker inspect --format='{{index .RepoDigests 0}}' \
                    $PELTON_DOCKER_REGISTRY/relaxation:latest
        ''',
        printProjectManifest: 'cat pelton/test-job.yaml | envsubst',
        dependencies: [
            {
                printProjectDirectory: '''
                    echo /$(npm explore @shieldsbetter/sb-optimistic-resources pwd)
                ''',
                environment: 'test'
            }
        ],
        podSelector: 'test-job=relaxation-${PELTON_RUN}'
    }
}